section.section.about.container#about(data-scroll-section data-scroll-target="#about")
  include education
  include experience
  .about__man(data-scroll data-scroll-speed="8")
    img(src="@img/man.svg", alt="").about__img
  img(src="@img/decor_3.svg", alt="").about__decor


