* {
  box-sizing: border-box;
}

html {
  font-family: $base-font-fam;
  font-size: $base-font-size;
  color: $black;
  background-color: $bg;
  scroll-behavior: smooth;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  padding: 0;
  border: none;
  cursor: pointer;
  background-color: inherit;
}

img {
  max-width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
blockquote,
figure {
  margin: 0;
}

button,
input,
optgroup,
select,
textarea {
  border: none;
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

main {
  position: relative;
  padding-top: 100px;
  padding-bottom: 50px;

  @media (max-width: 1025px) {
    padding: 0 21px;
  }
}

.main {
  &--block {
    position: fixed;
  }
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  max-width: 1160px;
  padding: 0 10px;
  margin: 0 auto;

  &--nogap {
    grid-gap: 0;
  }

  @media (max-width: 1025px) {
    grid-template-columns: 1fr;
    grid-gap: 0;
    padding: 0;
  }
}
